html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
ol,
p {
  margin: 0;
  padding: 0;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-container header span {
  color: var(--primaryColor);
  font-weight: 600;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.container-items {
  display: grid;
  padding: 0 10px;
  grid-template-columns: repeat(5, calc(100% / 5 - 10px));
  gap: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 100%;
}

@media screen and (max-width: 600px) {
  .container-items {
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 600px) {
  .container-items {
    grid-template-columns: repeat(2, calc(100% / 2 - 10px));
  }
}

@media screen and (min-width: 800px) {
  .container-items {
    grid-template-columns: repeat(3, calc(100% / 3 - 10px));
  }
}

@media screen and (min-width: 1000px) {
  .container-items {
    grid-template-columns: repeat(4, calc(100% / 4 - 10px));
  }
}

@media screen and (min-width: 1340px) {
  .container-items {
    grid-template-columns: repeat(5, calc(100% / 5 - 10px));
  }
}

h2 {
  font-size: 1ren;
  margin: 20px 0 20px 5px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 240px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.controls button {
  outline: none;
  border: none;
  font-size: 1.3em;
  width: 90px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
  height: 30px;
  display: grid;
  background-color: #fff;
  place-items: center;
  border-radius: 3px;
}

.controls span {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--iconsBackground);
}

.list-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  img {
    width: 100%;
    height: 200px;
  }
}
